---
import Layout from '../layouts/Layout.astro';
---

<Layout title="David Lorenzo">
	<main class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6">

				<nav class="navbar navbar-expand-lg navbar-dark">
					<a href="#" class="navbar-brand fs-5">David Lorenzo</a>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" href="#">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Works</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Pots</a>
							</li>
						</ul>
					</div>				
				</nav>

				<header class="pt-5 mt-5">
					<h1 class="fs-4 mb-1">David Lorenzo</h1>
					<p class="text-secondary">Github - Linkedin - Email</p>

					<h2 class="fs-6 text-secondary mt-4">Introducción</h2>
					<h3 class="fs-5">Product designer and Developer</h3>
					<p>+2 años de experiencia. <span class="text-secondary">Apasionado por crear intefaces de usuario elegantes e intuitivas.</span> Listo para aportar valor a tu proyecto.</p>
				</header>

				<section class="my-5">
					<header class="pt-5 mt-5 mb-3 d-flex justify-content-between">
						<h2 class="fs-5 mb-1">Blog</h2>
						<a class="text-secondary" href="#">Ver todas</a>
					</header>
					<section class="row gap-2">
						<div class="col-12">
							<article class="border border-opacity-25 px-4 py-3 rounded-3 d-flex align-items-center justify-content-between">
								<div>
									<h2 class="fs-6 mb-1">Getting started</h2>
									<p class="text-secondary mb-0">Lorem ipsum dolor sit amet.</p>
								</div>
								<a href="#">
									<i class="bi bi-arrow-right-short fs-3"></i>
								</a>
							</article>
						</div>
						<div class="col-12">
							<article class="border border-opacity-25 px-4 py-3 rounded-3 d-flex align-items-center justify-content-between">
								<div>
									<h2 class="fs-6 mb-1">Getting started</h2>
									<p class="text-secondary mb-0">Lorem ipsum dolor sit amet.</p>
								</div>
								<a href="#">
									<i class="bi bi-arrow-right-short fs-3"></i>
								</a>
							</article>
						</div>
						<div class="col-12">
							<article class="border border-opacity-25 px-4 py-3 rounded-3 d-flex align-items-center justify-content-between">
								<div>
									<h2 class="fs-6 mb-1">Getting started</h2>
									<p class="text-secondary mb-0">Lorem ipsum dolor sit amet.</p>
								</div>
								<a href="#">
									<i class="bi bi-arrow-right-short fs-3"></i>
								</a>
							</article>
						</div>
					</section>
				</section>

				<section class="my-5">
					<header class="pt-5 mt-5 mb-3 d-flex justify-content-between">
						<h2 class="fs-5 mb-1">Work Experience</h2>
						<a class="text-secondary" href="#">Ver todas</a>
					</header>
					<section class="mt-5 row gap-4">
						<article class="col-12">
							<header>
								<p class="text-secondary mb-1">Enero 2023 - Mayo 2023</p>
								<h2 class="fs-5 mb-1">Politécnico Félix María Ruíz </h2>
								<p class="text-secondary">Desarrollador</p>
							</header>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ad consequuntur hic ex corrupti ducimus eum? Impedit unde vel voluptatum!</p>
						</article>
						<article class="col-12">
							<header>
								<p class="text-secondary mb-1">Enero 2022 - Julio 2022</p>
								<h2 class="fs-5 mb-1">Coop Eclof</h2>
								<p class="text-secondary">Desarrollador</p>
							</header>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ad consequuntur hic ex corrupti ducimus eum? Impedit unde vel voluptatum!</p>
						</article>
					</section>
				</section>
				
			</div>
		</div>
	</main>
</Layout>